{{#if align }}
	<h3>Align Photos</h3>
	<button {{ action 'save' }}>save</button>
{{else }}
	{{#if left}}
		{{ stereos.show-stream action='takeLeftPhoto' photoName='left' }}
	{{else}}
		{{ stereos.show-stream action='takeRightPhoto' photoName='right' }}
	{{/if}}
{{/if}}
