<section id="presentation">
	<ul id="actions">
		<li>{{#link-to "stereos.index" }}index{{/link-to}}</li>
		<li><a {{ action "toggleProperty" "anaglyph"}}>mode</a></li>
		<li><a {{ action "remove" }}>delete</a></li>
	</ul>
	{{#if anaglyph }}
		<img src="{{ model.anaglyph }}">
	{{ else }}
		<div class="image-wrapper"><img src="{{ model.left }}" id='image-left'/></div>
		<div class="image-wrapper"><img src="{{ model.right }}" id='image-right'/></div>
	{{/if }}
</section>
